# Server
PORT = 8000

# Database
DB_USER=postgres
DB_PASS=postgres
DB_NAME=postgres
DATABASE_URL="postgresql://${DB_USER}:${DB_PASS}@localhost:5432/${DB_NAME}?schema=public"

# JWT
JWT_SECRET=secret
JWT_ACCESS_TOKEN_EXPIRES_IN=30m
JWT_REFRESH_TOKEN_EXPIRES_IN=30d

# pgAdmin
PG_ADMIN_EMAIL=example@example.com
PG_ADMIN_PASSWORD=password1234

# Storage
S3_ENDPOINT=http://localhost:9090
S3_ACCESS_KEY_ID=access-key
S3_SECRET_ACCESS_KEY=secret-key
S3_FORCE_PATH_STYLE=true
S3_REGION=ru-central-1
S3_BUCKET_NAME=bucket